<div class="container text-center">
    <h1>About Us and our Spiders</h1>
    
    <p>We try to match our orphan Spiders to a good matching home.  
    We have all shapes, sizes, and colors here so there is something for everyone!  
    Custom orders are also available so let us know what we can make for you.
    </p>    
</div>
