<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <p>You have received a message from Charlotte On the Web's contact form.</p>
        <p>The message if from <%= "{ @name }, #{ @email }." %></p><br/><br/>
        <p><%= @body %></p>
    </body>
</html>