/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';

h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;    
}

.home-callout, .navbar {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f3e2c7+0,c19e67+50,e9d4b3+100 */
    background: rgb(243,226,199); /* Old browsers */    
    background: -moz-linear-gradient(left, rgba(243,226,199,1) 0%, rgba(193,158,103,1) 50%, rgba(233,212,179,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(243,226,199,1) 0%,rgba(193,158,103,1) 50%,rgba(233,212,179,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(243,226,199,1) 0%,rgba(193,158,103,1) 50%,rgba(233,212,179,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3e2c7', endColorstr='#e9d4b3',GradientType=1 ); /* IE6-9 */
}

.navbar {
    border: none;
}

.navbar-brand {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
    color: black;
    &:hover { // using sass here
        color:gray;
        opacity: 0.75;
    }
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-default .navbar-toggle {
    border: 2px solid white;    
    &:hover, &:focus { // using sass here
        background-color: #06c6ff;
    }
}

.home-callout {
    color: white;
    margin-top: -20px;
    padding-top: 30px;
    padding-bottom: 400px;
}

.flash-container {
    position: absolute;
    width: 100%;
}
.alert-notice, .alert-alert {
    text-align: center;
    background: rgba(255, 255, 255, 0.3);
    border-color: rgba(255, 255, 255, 0.5);
    margin-top: -14px;
}

.home-signup-links {
    margin-top: 30px;
}

.margin-top-25 {
    margin-top: 25px;
}

.home-page-spider-container {
    margin-top: 40px;
    margin-bottom: 40px;
}

.home-page-spider-image {
    width: 128px;
    height: 128px;
    border-radius: 50%;
}

// .container {
.home-page-spider-container {
  position: absolute;
  width: 100%;

  animation: spider-anima 10s ease-out;
  animation-fill-mode: forwards;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  @keyframes spider-anima {
    0%  { top: -100px; }
    50% { top: 50%; }
  }
}
